body {
    margin: 0;
    font-family: Consolas;
}

.section {
    background-color: dodgerblue;
    margin: 0;
}

h1 {
    color: yellow;
    text-align: center;
    margin: 0;
}

p {
    color: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

